* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.25s;
    font-family: "Montserrat", "sans-serif";
}

:root {
    /* --background-color: #171717; */
    /* --box-color: #212121; */
    --background-color: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
    --background-color2:  linear-gradient(45deg, #ee0979, #ff6a00);
    --box-color: #121212;
    --sub-box-color: #121212;
    --text-color: #eeeeee;
    --gap-size: 12px;
    --text-color: #FDE2F3;
}

.rgbMove {
    background: var(--background-color2);
    background-size: 400%;
    animation: rgbMove 2s linear infinite;
}

@keyframes rgbMove {
    0% {
        background-position: 100% 100%;
    }
    
    25% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 0% 0%;
    }

    75% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 100% 100%;
    }
}